*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #212121;
    color:white;
    
}

.center{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

span{
    font-size: 30px;
}

#clock{
    background-color: orange;
    padding:20px 50px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 40px;
}

