*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightcyan;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}

.container{
    /* border: 2px solid blue; */
    padding: 30px;
    border-radius: 20px;
    box-shadow: 2px 6px 6px rgb(15, 44, 54);
    background-color: darkblue;
    color: white;

}

form{
    padding: 10px;
}

form>p{
    padding: 10px;
}

button{
    padding: 10px;
    border-radius: 10px;
    color:white;
    border: none;
    box-shadow: 2px 2px 2px rgb(52, 67, 72);

    background-color: blue;
    text-align: center;
    width: 90px;
    margin-left: 120px;
    font-weight: 800;
}

label{
    font-size: 18px;

}
input{
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
}

.weight-guide{
    border-top: 2px solid gray;
    margin-top: 30px;
}

.weight-guide>h3{
     margin-top: 5px;
}

.weight-guide>p{
    margin-top: 5px;
}

