*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0d0d0d;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    background-color: rgb(130, 130, 247);
    
}

#wrapper{
    padding: 30px;
    background-color: #2d2d2d;
    border: 2px solid black;
    
    text-align: center;
}   

.form{
    padding: 20px;
    
}
input{
    margin-top: 20px;
}
#guess{
    font-size: 50px;
}
#guessField{
    padding: 10px 40px;
    border: 6px solid rgb(149, 149, 149);
}

#submit{
    padding:20px 50px;
    background-color: #0f0f0f;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    margin-top: 50px;
    font-size: 18px;
    
}


p
{
    line-height: 30px;
    font-size: 18px;
}